.container{
    border: 1px dashed #ccc;
    position: relative;
    width: 90%;

    .item{
        background: #ccc;
        position: absolute;
        height:140px;
        width : 140px
    }

    .ss-placeholder-child{
        background: transparent;
        border: 1px dashed red;
    }
    .ss-dragged-child{
        opacity: 0.7;
    }
}
